.DS_Store
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules/
.corepack/
.yarn-cache/
.yarn-global/
*.tsbuildinfo
.build/

dsh-plugin-desktop/dist/
dsh-plugin-desktop/lib/
dsh-community-market/lib/

.env.yarn.electron-cache/
.electron-builder-cache/
.npm-cache/
